.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: .25fr .5fr 2fr 1fr .25fr;
  grid-template-areas:  "header header"
                        "div-one div-one"
                        "div-two div-three"
                        "div-two div-three"
                        "footer footer";
}

body {
  background-image: url(/images/backgroundresume.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  grid-area: header;
  background-color: #202E3E;
}

.headshot {
  height:200px;
  width:200px;
}

.div-one {
  grid-area: div-one;
  text-align: center;
  font-size: small;
}

h1 {
  text-align: center;
}

.div-two {
  grid-area: div-two;
  margin-left: 150px;
  text-align: left;
  margin-left: 40%;
 padding-right: 30px;
 background-color: white;
 margin-bottom: 40%;
}

.div-three {
  grid-area: div-three;
  margin-right: 10%;
  border-left: solid 1px;
  text-align: left;
  margin-right: 20%;
  padding-left: 30px;
  background-color: white;
  margin-bottom: 20%;
}

li {
  font-size: small;
}

h2 {
  font-size: medium;
}
footer {
  grid-area: footer;
  background-color: #202E3E;
 text-align: center;
 margin-top: 20px;
}

i {
    color:black;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  i:hover{
    color:red;
  }


@media (max-width: 600px) {
  grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas:
      "header"
      "div-one"
      "div-two"
      "div-three"
      "footer";
  }
  .div-one {
    margin-right: 5%;
    margin-left: 5%;
    padding: auto;
  }

  .div-two {
    margin-left: 5%;
    margin-right: 5%;
  }

  .div-three {
    margin-right: 5%;
    margin-left: 5%;
  }
}